* {
  font-size: 15px;
}

.comments {
  max-width: 500px;
  width: 100%;
}

.comments .comments_comment {
  overflow: hidden;
  margin-bottom: 15px;
}

.comments_comment .comment__avatar {
  float: left;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin-right: 10px;
}

.comments_comment .comment__title {
    margin: 0;
    margin-right: 5px;
}

.comment__title time {
    margin-left: 10px;
    font-weight: 100;
    color: #8a8a8a;
}

.comments__comment-form {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
  overflow: hidden;
}

.comments__comment-form .comment-form__email, .comments__comment-form .comment-form__text, .comments .comments__filter {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #000;
  padding: 3px;
}

.comments__comment-form .comment-form__submit{
  background-color: #5cb85c;
  border: 0;
  border-radius: 5px;
  padding: 9px 15px;
  color: #fff;
  float: right;
}

.comments__comment-form .ng-invalid.ng-touched, .comment-form .ng-invalid-minlength.ng-touched {
  background-color: #FA787E;
}

.comments__comment-form .ng-valid.ng-touched {
  background-color: #78FA89;
}
