<div class="comments">
  <form name="commentForm" class="comments__comment-form" novalidate>
    <input class="comment-form__email" type="email" placeholder="Email Address" ng-model="vm.email" name="email" required ng-required="true" />
    <textarea class="comment-form__text" type="text" placeholder="Comment..." ng-model="vm.newComment" name="text" ng-minlength="1" ng-maxlength="1000" ng-required="true" />
    <input class="comment-form__submit" type="submit" ng-click="vm.submitComment()" ng-disabled="commentForm.$invalid || vm.submitInProggress" value="Submit" />
    <span ng-show="false && form.email.$error.integer">{{commentForm.$error}}</span>
  </form>
  <input class="comments__filter" type="text" ng-model="vm.filterText" placeholder="Filter comments" />
  <div class="comments_comment" ng-repeat="comment in vm.comments | filter: vm.filterText | orderBy: '-created'">
    <img class="comment__avatar" ng-src="{{ comment.avatar }}" alt="{{ comment.email }}"/>
    <div class="comment__body">
      <h5 class="comment__title">{{ comment.email }}<time am-time-ago="comment.created"></time></h5>
      {{ comment.text }}
    </div>
  </div>
</div>
